<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Class of Khan</title>
	<meta name="description" content="Intelligent Donations to your Alma Mater">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	
	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/media/styles/base.css">
	<link rel="stylesheet" href="/media/styles/skeleton.css">
	<link rel="stylesheet" href="/media/styles/layout.css">
	<link rel="stylesheet" href="/media/styles/style.css">

    <script src="/socket.io/socket.io.js"></script>

	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/media/styles/images/favicon.ico">
	<link rel="apple-touch-icon" href="/media/styles/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/media/styles/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="/media/styles/images/apple-touch-icon-114x114.png" />
	
</head>
<body>
	<!-- Primary Page Layout
	================================================== -->
	
	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">	
        <div class="header sixteen columns">
            <script>
                var user = <%= JSON.stringify(everyauth) %>
            </script>
            <div class="user-links">
                <% if (everyauth.loggedIn) { %>
                    <a href="/logout">log out</a>
                <% } %>
            </div>
            <div class="logo"><h1>Class of Khan</h1></div>
        </div>
        <div class="main-content sixteen columns">
            <%= body %>
        </div>
        <div class="footer">
            <hr />
            <div class="one-third column">
                <h3>About Class of Khan?</h3>	
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="one-third column">
                <h3>Three Core Principles</h3>	
                <p><strong>Class of Khan</strong> is built on three core principles:</p>
                <ul>
                   <li><strong>Lorem Ipsum</strong>: Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                   <li><strong>Sit Amet</strong>: Aliquam tincidunt mauris eu risus.</li>
                   <li><strong>Aliquam Tincidunt</strong>: Vestibulum auctor dapibus neque.</li>
                </ul>
            </div>
            <div class="one-third column">
                <h3>Support &amp; FAQ</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>	
            </div>
        </div>
	</div><!-- container -->

    <!-- stashed elements
    ================================================== -->
    <div class="global stash">
        <div class="project-form">
            <h4>Create New Project</h4>
            <input class="project-title" placeholder="Title" type="text" />
            <input class="project-media-url" placeholder="Video Url" type="text" />
            <a class="button submit">Submit</a>
            <a class="cancel" href="#">cancel</a>
        </div>
    </div>
    <script>
        jsonVars = {
            <% if (user) { %>
                user: <%= JSON.stringify(user) %>,
            <% } %>
            everyauth: <%= JSON.stringify(everyauth) %>,
            <% if (typeof rooms !== 'undefined') { %>
                rooms: <%= JSON.stringify(rooms) %>,
            <% } %>
            <% if (typeof room !== 'undefined') { %>
                room: <%= JSON.stringify(room) %>,
            <% } %>
            <% if (typeof videos !== 'undefined') { %>
                videos: <%= JSON.stringify(videos) %>,
            <% } %>

        }
    </script>
    
    <!-- JS
	================================================== -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
	<script>window.jQuery || document.write("<script src='/media/scripts/lib/jquery.js'>\x3C/script>")</script>
	<script src="/media/scripts/lib/underscore.js"></script>
	<script src="/media/scripts/lib/backbone.js"></script>
    <script src="/media/scripts/lib/backbone.iobind.js"></script>
	<script src="/media/scripts/lib/tabs.js"></script>
	<script src="/media/scripts/script.js"></script>
	
<!-- End Document
================================================== -->
</body>
</html>
